

    <section class="primary" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                
                    <form name="sentMessage" id="contactForm" novalidate="">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>model*</label>
                                <input type="text" class="form-control" ng-model="cars.model">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>maker*</label>
                                <input type="text" class="form-control" ng-model="cars.maker">                               
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>year*</label>
                                <select class="form-control" ng-model="cars.year">
                                    <option value="" style="display:none;">Select Year</option>
                                    <option ng-repeat="item in yearList"  value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>price*</label>
                                <input type="tel" class="form-control" ng-model="cars.price.sellingPrice">
                                
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Currency*</label>
                                <select class="form-control" ng-model="cars.price.currency">
                                    <option value="" style="display:none;">Select Currency</option>
                                    <option value="INR">Indian</option>
                                    <option value="USD">Us Dollar</option>
                                </select>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Image</label>
                                <select class="form-control" ng-model="cars.image" >
                                    <option value="" style="display:none;">Select Image</option>
                                    <option ng-repeat="item in imageList"  value="{{item.name}}">{{item.name}}</option>
                                  </select>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <button type="submit" class="btn btn-success btn-lg" ng-click="create()">Save</button>
                            </div>
                            <div class="form-group col-xs-6">
                                <button type="button" class="btn btn-success btn-lg pull-right" ng-click="addImage()">Goto Images Server</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

